table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 700px;
    height: 500px;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.pad-maior {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centro {
    width: 700px;
    height: 500px;
    text-align: center;
}

